@using Index = TimeKeeper.Shared.Pages.Index
<Router AppAssembly="@typeof(Program).Assembly" AdditionalAssemblies="new[] { typeof(Index).Assembly }" PreferExactMatches="@true" >
    
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(TimeKeeper.Shared.Shared.MainLayout)" />
    </Found>

    <NotFound>
        <LayoutView Layout="@typeof(TimeKeeper.Shared.Shared.MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>

</Router>
