<Router AppAssembly="@typeof(Program).Assembly" AdditionalAssemblies="new[] { typeof(TimeKeeper.ComponentLibrary.Pages.Index).Assembly }" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(TimeKeeper.ComponentLibrary.Shared.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(TimeKeeper.ComponentLibrary.Shared.MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
